<body>
  <div id='home-content'>
    <img id='img-beer' src='/images/beer.png' />
    <div id='home-btns'>
      <a class='box-shadow' href='/beers'>Check the Beers!</a>
      <a class='box-shadow' href='/random-beer'>Check a Random Beer</a>
    </div>
  </div>
</body>