/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
html, body {
    margin:0;
    padding:0;
}

body {
  box-sizing: border-box;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
	position: fixed;
	top: 0;
	width: 100%;
  	height: 8vh;
	background-color: #2081c3;
	display: flex;
	align-items: center;
	font-size: 1.6rem;
}
.nav-bar ul {
  display: flex;
  gap: 40px;
	margin: 0 50px;
}
.nav-bar ul a {
  text-decoration: none;
	color: #f7f9f9;
}


#container {
	padding-top: 10vh;
  	max-height: 80vh;
	
}


footer {
	position:fixed;
	height: 8vh;
	bottom: 0;
	width: 100%;
	background-color: #0a2c42;
	color: #f7f9f9;
	display: flex;
	align-items: center;
}

footer > p {
	margin: 0 50px;
	font-size: 1.6rem;
}

.box-shadow {
	box-shadow: 0px 3px 7px 1px rgb(128, 128, 128);
}

/* Home */

#home-content {
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 70px;
}

#img-beer {
	width: 450px;
}

#home-btns {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

#home-btns > a {
	margin: 0 auto;
	background-color: #2081c3;
	padding: 15px 30px;
	border-radius: 7px;
	color: #f7f9f9;
	text-decoration: none;
	font-size: 1.4rem;
}

/* beer partial */
.beer-content {
	padding-top: 20px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 40px;
}

.multi-beer {
	border: 2px solid rgba(0, 128, 0, 0);
	max-width: 400px;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.beer-image {
	display: block;
    size: 10px;
    margin: 0 auto;
    width: 10%;
    height: auto;

}

.all-discription {
	max-width: max-content;
	max-height: max-content;
}

/* Random beer */
.random-content {
	display: flex;
	justify-content: center;
}
.beer-container {
	position: absolute;
	width: auto;
	height: auto;
	display: flex;
}

.img-container {
	width: 400px;
	height: 700px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.beer-img {
	display: block;
	max-width: 150px;
	max-height: max-content;
}

.discription {
	width: 900px;
	display: flex;
	flex-direction: column;
	padding-top: 100px;
}





